{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    // Allows for the parsing of modern ECMAScript features
    "ecmaVersion": 2018,
    // Allows for the use of imports
    "sourceType": "module"
  }
}
