{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "no-constant-condition": "warn"
  },
  "ignorePatterns": [
    // dynamic import (requred for ESM module) isn't supported by eslint version we use
    "src/lib/update-notifier-utils.js"
  ]
}
