{
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "none",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "jsxBracketSameLine": true,
  "arrowParens": "avoid"
}
